
:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
  }

body{
    background-color: var(--color-bg);
    background-image: url('./love.png');
    background-repeat:no-repeat;
    background-size:cover;
}
p{
    color: var(--color-light-gray);
}
h2{
    text-align: center;
    color: var(--color-main-light);
}
a{
    text-decoration: none;
    color: var(--color-main-light);
}
.header{
    background-color: black;
    color: #cce6ff;
    text-align: center;
    padding: 40px 90px 10px;
    margin:10px 20px 30px;
    border-radius:20px; 
}
.section{
    background-color: rgba(110,110,160, 0.4);
    text-align: justify;
    padding:20px 40px 10px 20px;
    height:auto;
    margin: 10px 20px 30px;
    border-radius: 20px;
}
.section > p{
    color: var(--color-main-light);
}
.footer{
    background-color: #8585ad;
    text-align: center;
    padding: 20px;
}
.footer > p{
    color:lavender;
}