:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
    --color-glow:#61efff;
}

.main{
    display:flex;
    width:100%;
    height:98vh;
    background-color:rgba(0,0,0,1);
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main > .cover{
    order: 2;
    font-size:6rem;
}
.main > .cover> .glowing-txt{
    border:solid 4px #61efff;
    border-radius:20px;
    box-shadow:0 0 30px 0px #61efff
}
.main > .cover >.glowing-txt::before{
    width:50vw;
    opacity:0.7;
    filter:blur(0.2em);
    transform:translate(-1%, 460%) rotatex(50deg) scale(1, 4);
}
.main>.links{
    display: none;
}
.previous{
    order:1;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 1vh;
    padding-left: 0.4vw;
    background-color: rgba(0,0,0,0.1);
    transform: scale(4,4);
    cursor:pointer;
}
.previous:hover{
    background-color: var(--color-dark-medium);
}
.next{
    order: 3;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 1vh;
    padding-left: 0.5vw;
    background-color: rgba(0,0,0,0.1);
    transform: scale(4,4);
    cursor:pointer;
}
.next:hover{
    background-color: var(--color-dark-medium);
}
/* -------- contact --------- */
.main-contact{
    width:100%;
}
.main-contact>.contact{
    margin:1vh 1vw;
}
/* -------------- */
@media only screen and (max-device-width:800px){
    .main{
        height:66vh;
        margin-top: 6.2vh;
        flex-direction: column;
    }
    .main>.links{display: block;}
    .previous{transform: rotateZ(90deg) scale(3);}
    .next{transform: rotateZ(90deg) scale(3);}
}