/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face{
    font-family:myFont;
    src:url('../fonts/Italiana-Regular.ttf')
}
@font-face{
    font-family:Montserrat;
    src:url('../fonts/Montserrat-VariableFont_wght.ttf')
}
:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

body{
    background-color: var(--color-bg);
    background-image: url('../images/love.png');
    background-repeat:no-repeat;
    background-size:cover;
    margin:0px;
}
p{
    /* font-family: "Montserrat", sans-serif; */
    font-family:Montserrat;
    font-weight:300;
    color: var(--color-light-gray);
}
h1{
    font-family:myFont;
    font-weight: 400;
    font-size:40px;
    font-style: normal;
    /* font-family: "Italiana", sans-serif; */
}
h2{
    font-family:'Roboto Mono', monospace;
    text-align: center;
    color: var(--color-main-light);
}
a{
    font-family:'Roboto';
    text-decoration: none;
    color: var(--color-main);
}
/* ---------  navbar --------- */
.navbar{
    z-index: 2;
    position:fixed;
    top:0px;
    width:100%;
}
.navbar > ul{
    background-color: var(--color-dark-light);
    margin:0px 20px 0px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
}
.navbar > ul>li{
    display: inline;
    float: left;
}
.navbar > ul>li > span{
    color: var(--color-main);
    display: block;
    padding:8px;
    cursor:pointer;
}
.navbar> ul span:hover{
    background-color:var(--color-dark-medium)
}
/* ---------------- dropdown ------------------ */
.dropdown-content{
    display:none;
    position:absolute;
    width:100px;
    border-radius:15px;
    background-color:var(--color-dark-medium)
}
.dropdown-content a{
    display:block;
    color:var(--color-main);
    padding:12px 16px;
    text-decoration:none;
    border-radius:15px;
}
ul>li:hover .dropdown-content, ul>li:active .dropdown-content{
    display:block;
}
.dropdown-content a:hover{
    background-color: var(--color-dark);
}
/* ------------------------- */
.sidemenu{
    position:fixed;
    top:50px;
    left:20px;
    background-color: rgba(110,110,160, 0.8);
    text-align: left;
    height:auto;
    width:180px;
    padding:20px 40px 10px 20px;
}
/* ------------------------------------- */
.header{
    font-size: 16px;
    background-color: black;
    color: #cce6ff;
    text-align: center;
    padding: 40px 60px 10px;
    margin:50px 20px 0px 280px;
    border-radius: 20px;
    /* border-top-right-radius: 20px;
    border-top-left-radius:20px; */
}
.container{
    display: flex;
    margin:0px 20px 0px 280px;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around
}
.section0{
    order:2;
    align-self:center;
    background-color: rgba(110,110,160, 0.4);
    /* border:solid 2px white; */
    text-align: justify;
    height:auto;
    padding:20px 40px 10px 20px;
    margin: 10px 20px 30px;
    border-radius: 20px;
}
.section{
    order:1;
    background-color: rgba(110,110,160, 0.4);
    text-align: justify;
    height:auto;
    padding:20px 40px 10px 20px;
    margin: 10px 20px 30px;
    border-radius: 20px;
}
.section > p{
    color: var(--color-main-light);
}
/* --------------------------------------------- */
.footer{
    background-color: #8585ad;
    text-align: center;
    padding: 20px;
}
.footer > p{
    color:lavender;
}

@media only screen and (max-device-width:800px){
    h1{
        font-size: 2em;
    }
    .navbar>ul{
        margin:0px;
    }
    .sidemenu{
        display:none;
    }
    .header{
        margin:50px 20px 0px 20px;
    }
    .container{
        margin:0px 20px 0px 20px;
    }
    .section0{
        margin: 10px 20px 10px;
    }
}